<h2 mat-dialog-title>Speicher auff&uuml;llen</h2>
<mat-dialog-content>
  <mat-form-field class="dialog-content">
    <mat-label>Auff&uuml;llen um (MWh)</mat-label>
    <input type="number" matInput [formControl]="fillControl" (keydown.enter)="fillControl.valid && fillStore()">
    <mat-hint>0,001 bis {{(this.data.maxCapacity - this.data.currentCapacity) | number: '1.0-3'}} MWh</mat-hint>
    @if (fillControl.getError("required")) {
      <mat-error>Wert ist <strong>erforderlich</strong></mat-error>
    } @else if (fillControl.getError("min")) {
      <mat-error>Wert zu <strong>klein</strong></mat-error>
    } @else {
      <mat-error>Wert zu <strong>groß</strong></mat-error>
    }
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-flat-button (click)="fillStore()" [disabled]="!fillControl.valid" mat-dialog-close>Auff&uuml;llen</button>
</mat-dialog-actions>
