<div class="add">
  <button class="material-icons icon-button" type="button" (click)="openPopup()">add</button>
</div>

<div class="overlay" [ngStyle]="{'display': popupActive == true ? 'flex' : 'none'}">
  <div class="popup">
    <h2>Speicher hinzuf&uuml;gen</h2>
    <p>This is a simple popup in the middle of the screen.</p>
    <form [formGroup]="storeForm">
      <label for="location">Standort: </label>
      <input id="location" type="text" formControlName="location">

      <br>

      <label for="max-capacity">Maximale Kapazität: </label>
      <input id="max-capacity" type="number" formControlName="maxCapacity">

      <br>

      <label for="current-capacity">Aktuelle Kapazität: </label>
      <input id="current-capacity" type="number" formControlName="currentCapacity">

      <br>

      <label for="type">Typ: </label>
      <select formControlName="type">
        <option *ngFor="let type of types" [ngValue]="type">
          {{type.display}}
        </option>
      </select>
    </form>
    <div class="actions">
      <button class="button" (click)="closePopup()">Abbrechen</button>
      <button class="button" (click)="addEnergyStore()" [disabled]="!storeForm.valid">Speichern</button>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th scope="col">Standort</th>
      <th scope="col">aktuelle Kapazität</th>
      <th scope="col">maximale Kapazität</th>
      <th scope="col">Typ</th>
      <th scope="col">Entfernen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let store of energyStores">
      <th scope="row">{{store.location}}</th>
      <td>{{store.maxCapacity}}</td>
      <td>{{store.currentCapacity}}</td>
      <td>{{store.type}}</td>
      <td>
        <button class="material-icons icon-button" (click)="deleteStoreFromNetwork(store)">
          close
        </button>
      </td>
    </tr>
  </tbody>
</table>
