<div class="add">
  <button class="material-symbols-rounded icon-button" type="button" (click)="popup.openPopup()">add</button>
</div>

<app-popup #popup>
  <h2>Speicher hinzuf&uuml;gen</h2>
  <form [formGroup]="storeForm">
    <p>
      <label for="location">Standort: </label>
      <input id="location" type="text" formControlName="location">
    </p>
    <p>
      <label for="max-capacity">Maximale Kapazität: </label>
      <input id="max-capacity" type="number" formControlName="maxCapacity">
    </p>
    <p>
      <label for="current-capacity">Aktuelle Kapazität: </label>
      <input id="current-capacity" type="number" formControlName="currentCapacity">
    </p>
    <p>
      <label for="type">Typ: </label>
      <select formControlName="type">
        <option *ngFor="let type of types" [ngValue]="type">
        {{type.display}}
        </option>
      </select>
    </p>
  </form>
  <div class="actions">
    <button class="button"  (click)="popup.closePopup()">Abbrechen</button>
    <button class="button" (click)="addEnergyStore(); popup.closePopup()" [disabled]="!storeForm.valid">Speichern</button>
  </div>
</app-popup>
