@use '@angular/material' as mat;
@import '../../theme/config.scss';

:host {
  height: 100%;
}

.grid-page {
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

app-network-picker {
  height: 15%;
  display: flex;
  align-items: center;
}

.loading-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
