@use '@angular/material' as mat;
@import '../../theme/config.scss';

:host {
  flex: 1;
  min-height: 0;
}

.grid-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-network-picker {
  height: 10%;
  display: flex;
  align-items: center;
}

app-network-overview {
  height: 25%;
  display: flex;
  align-items: center;
}

app-store-table {
  width: 100%;
  height: 65%;
}

.center {
  justify-content: center;
}
