@if (networksExist) {

<div class="grid-page">
  <app-network-picker></app-network-picker>
  <app-network-overview [pollTrigger]="pollTrigger"></app-network-overview>
  <app-store-table [pollTrigger]="pollTrigger" stores="network"></app-store-table>
</div>

} @else if (networksExist === undefined) {

<div class="grid-page center">
  <mat-spinner></mat-spinner>
</div>

} @else {

<div class="grid-page center warning">
  <mat-icon class="network-information-icon">error</mat-icon>
  <span class="network-information">Keine Netze<br>gefunden</span>
  <button mat-flat-button (click)="openNetworkAddDialog()">
    <mat-icon>add</mat-icon>
    Netzwerk hinzuf&uuml;gen
  </button>
</div>

}
