@if (networksExist) {

<div class="grid-page">
  <app-network-picker></app-network-picker>
  <app-network-overview></app-network-overview>
  <app-store-table stores="network"></app-store-table>
</div>

} @else if (networksExist === undefined) {

<div class="grid-page center">
  <mat-spinner></mat-spinner>
</div>

} @else {

<div class="grid-page center warning">
  <mat-icon class="network-information-icon">error</mat-icon>
  <span class="network-information">No Networks<br>Found</span>
  <button mat-flat-button (click)="openNetworkAddDialog()">
    <mat-icon>add</mat-icon>
    Add Network
  </button>
</div>

}
