<nav class="navbar-header">
  <h3>Netzsimulation</h3>
  @for (route of routes; track route.path) {
    <a mat-button class="navbar-link" [routerLink]="route.path" routerLinkActive="navbar-header-item-selected" #rla="routerLinkActive">
      <div class="navbar-link-content" [class.active]="rla.isActive">
        <mat-icon [class.filled]="rla.isActive">{{route.icon}}</mat-icon>
        <span>
          {{route.title}}
        </span>
      </div>
    </a>
  }
  <button mat-icon-button class="logout" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</nav>
