.overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progressbar {
  background-color: black;
  border-radius: 14px;
  padding: 6px;
}

.progressbar > div {
  background-color: white;
  height: 1.5rem;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5rem;
  font-weight: 550;
  transition: width 0.5s ease;
}
