@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use './typography.scss' as typography;

@include mat.core();

$theme: matx.define-theme((
  color: (
    theme-type: light,
    primary: matx.$m3-green-palette,
  ),
  typography: (
    brand-family: 'Space Grotesk',
    plain-family: 'IBM Plex Sans',
    bold-weight: 700
  ),
  density: (
    scale: -1
  )
));

/* @include mat.typography-hierarchy(typography.$config); */

.light-theme {
  @include mat.all-component-themes($theme);
}
