:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logout {
  float: right;
  padding: 1rem;
}

.menu {
  padding: 1.5rem;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: black;
  padding: 15px;
  display: flex;
  align-items: center;
}
