<div class="sidebar" [class.active]="sidebarOpen">
  <button class="material-symbols-rounded close" (click)="toggleSidebar()">close</button>
  <ul>
    <li>
      <a routerLink="/" (click)="toggleSidebar()">
        <div class="entry">
          <span class="material-symbols-rounded" routerLinkActive="material-symbols-rounded-filled" [routerLinkActiveOptions]="{exact: true}">home</span>
          <span>&Uuml;bersicht</span>
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/stores" (click)="toggleSidebar()">
        <div class="entry">
          <span class="material-symbols-rounded" routerLinkActive="material-symbols-rounded-filled">bolt</span>
          <span>Speicher</span>
        </div>
      </a>
    </li>
  </ul>
</div>
