@use "sass:math";
@use '@angular/material' as mat;
@import '../../theme/config.scss';

$padding: 30px;

.store-table-container {
  display: flex;
  height: calc(100% - 2 * $padding);
  padding: $padding ;
}

.store-table-sidebar {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;

  > div {
     background: mat.get-theme-color($theme, surface-variant);
     border-radius: 28px;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 20px;

     > .title {
       color: mat.get-theme-color($theme, primary);
       font-family: mat.get-theme-typography($theme, headline-large, font-family);
       font-size: mat.get-theme-typography($theme, headline-large, font-size);
       font-weight: 500;
     }
  }

}

.store-table-filter {
  height: fit-content;
  gap: 1.25rem;
}

.store-table-add {
  margin-top: $padding;
  height: fit-content;

  .button-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 20px;

    .button {
      font-size: mat.get-theme-typography($theme, body-large, font-size);
      padding: mat.get-theme-typography($theme, body-large, font-size) * 1.5;

    }
  }
}

.store-table-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 $padding ;
}

.store-table {
  background-color: white;
  position: relative;
  max-height: 100%;
  overflow: auto;
}

.store-table-content {
  background-color: mat.get-theme-color($theme, surface);
  border-radius: 24px 24px 0 0;
}

.store-table-no-data {
  text-align: center;
  font-family: mat.get-theme-typography($theme, headline-small, font-family);
  font-size: mat.get-theme-typography($theme, headline-small, font-size);
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-row:nth-child(even){
  background-color: mat.get-theme-color($theme, surface-container-low);
}

.mat-mdc-table{
  border-radius: 24px 24px 0 0;
  overflow:hidden;
}

.mat-mdc-paginator {
  border-radius: 0 0 24px 24px;
}

.mat-mdc-header-cell {
 border-bottom: 2px solid mat.get-theme-color($theme, primary);

}

.mat-mdc-header-cell {
  color: mat.get-theme-color($theme, primary);
  font-family: mat.get-theme-typography($theme, headline-small, font-family);
  font-size: mat.get-theme-typography($theme, headline-small, font-size);
  font-weight: 500;
  padding: 1rem;
  white-space: pre;
  text-align: center;
}

.mat-mdc-cell {
  text-align: center;
  font-family: mat.get-theme-typography($theme, headline-small, font-family);
  font-size: mat.get-theme-typography($theme, headline-small, font-size);
  font-weight: 500;
}

.action {
  transform: scale(1.1);
}
