<div class="store-table-container" [style.padding-top.px]="stores === 'network' && 0">
  <div class="store-table-sidebar">
    <div class="store-table-filter" [style.height.%]="stores === 'network' ? 45 : 25">
      <span class="title">Filter</span>
      <div class="search">
        <mat-form-field appearance="outline" class="shrinking-mat-form-field">
          <mat-label>Standort</mat-label>
          <input matInput [formControl]="locationControl">
          <mat-icon matPrefix>search</mat-icon>
          <button mat-icon-button matSuffix (click)="locationControl.setValue('')">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="chips">
        <mat-chip-listbox [formControl]="chipsControl" multiple>
          @for(filter of filters; track filter.label) {
            <mat-chip-option [value]="filter.filter">{{filter.label}}</mat-chip-option>
          }
        </mat-chip-listbox>
      </div>
    </div>
    <div class="store-table-add" [style.height.%]="stores === 'network' ? 45 : 25">
      <span class="title">Aktionen</span>
      <div class="button-container">
      @if (this.stores === 'network') {
        <button mat-flat-button class="button" (click)="openNetworkDrawDialog()" [disabled]="!networkCurrentCapacity">
          <mat-icon>arrow_circle_down</mat-icon>
          Kapazit&auml;t beziehen
        </button>
      }
        <button mat-flat-button class="button" (click)="openStoreAddDialog()">
          <mat-icon>bolt</mat-icon>
          Speicher hinzuf&uuml;gen
        </button>
        <button mat-flat-button class="button" (click)="openNetworkAddDialog()">
        <mat-icon>hub</mat-icon>
        Netzwerk hinzuf&uuml;gen
        </button>
      </div>
    </div>
  </div>
  <div class="store-table-wrapper">
    <div class="store-table">
      <div class="store-table-no-data">
        @if (isLoading) {
        <mat-spinner></mat-spinner>
        }
        @else if (resultsLength === 0) {
        <span>Keine Speicher gefunden</span>
        }
      </div>

      <div class="store-table-content" [style.min-height.px]="resultsLength === 0 ? 250 : 0">
        <table mat-table [dataSource]="data" matSort matSortDirection="asc">
          @for(column of displayedColumns; track column) {
            @if (column.key !== 'actions') {
              <ng-container [matColumnDef]="column.key">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</th>
                <td mat-cell *matCellDef="let row">{{column.key === "type" ? typeMap[row[column.key]] : row[column.key]}}</td>
                </ng-container>
            }
          }
         <ng-container matColumnDef="actions">
           <th mat-header-cell *matHeaderCellDef>Aktionen</th>
           <td mat-cell *matCellDef="let row">
             <button mat-icon-button class="action" (click)="openFillDialog(row['id'], row['maxCapacity'], row['currentCapacity'])">
               <mat-icon>arrow_circle_up</mat-icon>
             </button>
             <button mat-icon-button class="action" (click)="openEditDialog(row)">
               <mat-icon>edit</mat-icon>
             </button>
             @if (row['networkId'] !== null) {
               <button mat-icon-button class="action" (click)="openRemoveFromNetworkDialog(row['id'])">
                 <mat-icon>close</mat-icon>
                </button>
             } @else {
               <button mat-icon-button class="action" (click)="openMoveToNetworkDialog(row['id'])">
                 <mat-icon>swap_horiz</mat-icon>
                </button>
             }
             <button mat-icon-button class="action" (click)="openDeleteDialog(row['id'])">
               <mat-icon>delete</mat-icon>
             </button>
           </td>
         </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsKeys; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsKeys;"></tr>
        </table>
      </div>
    </div>
    <mat-paginator [length]="resultsLength" [pageSize]="15" aria-label="W&auml;hlen Sie die Seite der Ergebnisse"></mat-paginator>
  </div>
</div>
