@use '@angular/material' as mat;
@import '../../theme/config.scss';

.network-overview {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6rem;
  border-radius: 10px;
}

.capacity-labels {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: mat.get-theme-color($theme, on-surface);
  font-family: mat.get-theme-typography($theme, body-medium, font-family);
  font-size: mat.get-theme-typography($theme, headline-medium, font-size);
  font-weight: 450;
}

.capacity-title {
  color: mat.get-theme-color($theme, secondary);
}

.capacity-label {
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

.capacity-progress-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.capacity-percentage {
  position: absolute;
  color: mat.get-theme-color($theme, secondary);
  font-family: mat.get-theme-typography($theme, display-medium, font-family);
  font-size: mat.get-theme-typography($theme, display-small, font-size);
  font-weight: 500;
}

.capacity-progress {
  position: absolute;
  rotate: calc(0.025 * 360deg);
}

.capacity-inverse-progress {
  --mdc-circular-progress-active-indicator-color: #{rgb(mat.get-theme-color($theme, primary), 0.2)};
  transform: scaleX(-1);
  rotate: calc(-0.025 * 360deg);
}

