<h1>Liste nicht zugewiesener Speicher</h1>

<div>
  <app-add-popup (addStore)="addUnassignedEnergyStore($event)"></app-add-popup>

  <table>
    <thead>
      <tr>
        <th scope="col">Standort</th>
        <th scope="col">aktuelle Kapazität</th>
        <th scope="col">maximale Kapazität</th>
        <th scope="col">Typ</th>
        <th scope="col">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let store of energyStores">
        <th scope="row">{{store.location}}</th>
        <td>{{store.currentCapacity}}</td>
        <td>{{store.maxCapacity}}</td>
        <td>{{store.type}}</td>
        <td>
          <div class="table-actions">
            <button class="material-symbols-rounded icon-button" (click)="softDeleteStore(store)">
              close
            </button>
            <button class="material-symbols-rounded icon-button" (click)="switch.openPopup();selectedStoreId=store.id">
              sync_alt
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <app-popup #switch>
    <h2>Speicher Netzwerk zuweisen</h2>
    <form [formGroup]="switchForm">
      <label for="network">Netzwerk: </label>
      <select formControlName="network" #network>
        <option *ngFor="let network of networks" [value]="network.id">
        {{network.name}}
        </option>
      </select>
    </form>
    <div class="actions">
      <button class="button" (click)="switch.closePopup(); switchForm.reset();">Abbrechen</button>
      <button class="button" [disabled]="!switchForm.valid" (click)="addToNetwork(network.value); switch.closePopup()">Speichern</button>
    </div>
  </app-popup>
</div>
