@if (networksExist)  {
  <div class="dashboard">
    <div class="overall-stats">
      <div class="overall-labels">
      <span class="overall-title-label">Allgemeine Statistiken</span>
        <div class="stat-label">
          <span>Anzahl Netzwerke </span>
          <span>{{nmbOfNetworks}}</span>
        </div>
        <div class="stat-label">
          <span>Durchschnittliche F&uuml;llmenge </span>
          <span>{{networkAvgFill}}%</span>
        </div>
      </div>
    </div>
    <div class="network">
      <div class="network-stats">
        <app-network-picker></app-network-picker>
        <app-network-overview></app-network-overview>
      </div>
      <div class="network-graph-container">
        <div class="network-graph">
        <div class="network-graph-label">Netzgraph</div>
          @if (isLoading) {
            <div class="center">
              <mat-spinner></mat-spinner>
            </div>
          } @else if (nodes.length > 0) {
            <app-network-graph [nodes]="nodes" [links]="links"></app-network-graph>
          }
        </div>
      </div>
    </div>
  </div>
} @else {
  <app-no-networks-found></app-no-networks-found>
}
