@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: Inter;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.button {
  color: white;
  background: black;
  border-radius: 8px;
  padding: 0.7rem;
  border: 1px solid transparent;
}

.button:disabled {
  color: black;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-button {
  color: white;
  background: black;
  border-radius: 8px;
  padding: 0.25rem;
  border: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.popup h2 {
    margin-top: 0;
}

.actions {
  padding-top: 2rem;
  display: flex;
  justify-content: right;
  align-items: end;
  gap: 1rem;
}

/* align form */
.popup h2 {
  padding-bottom: 2rem;
}

.popup form {
  display: table;
}

.popup p {
  display: table-row;
}

.popup label {
  font-weight: 450;
  font-size: 1.05rem;
  display: table-cell;
  text-align: left;
  padding-right: 4rem;
  padding-bottom: 2rem;
}

.popup input {
  display: table-cell;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: 1.75rem;
}

.popup select {
  display: table-cell;
  width: 100%;
  background: transparent;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: 1.75rem;
}
