@use '@angular/material' as mat;
@import './theme/config.scss';

html, body, app-root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.mat-icon.material-symbols-rounded {
  font-variation-settings: 'FILL' 0;
}

.mat-icon.material-symbols-rounded.filled {
  font-variation-settings: 'FILL' 1;
}

mat-spinner {
  stroke-linecap: round;
}

mat-progress-spinner {
  stroke-linecap: round;
}

app-store-table {
  .mat-sort-header-container {
    justify-content: center;
  }

  .mat-mdc-standard-chip.mdc-evolution-chip--selected:not(.mdc-evolution-chip--disabled) {
    background-color: mat.get-theme-color($theme, on-surface-variant);
  }
  .mat-mdc-standard-chip.mdc-evolution-chip--selected:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label, .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__checkmark {
    color: mat.get-theme-color($theme, on-primary);
  }

  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
    font-family: mat.get-theme-typography($theme, body-large, font-family);
    font-size: mat.get-theme-typography($theme, body-large, font-size);
    font-weight: 500;
    padding: 4px;
  }
}

.shrinking-mat-form-field {
  .mat-mdc-form-field-infix {
    width: auto !important;
  }
}
